[Unit]
Description=The Kubernetes Node Agent
Documentation=http://kubernetes.io/docs/
{% if container_runtime == 'docker' or container_runtime == 'nvidia-docker' %}
Wants=docker.socket
{% endif %}
{% if container_runtime == 'crio' %}
Wants=crio.service
{% endif %}

[Service]
ExecStart={{ bin_dir }}/kubelet
Restart=on-failure
StartLimitBurst=3
StartLimitInterval=60s
RestartSec=10

[Install]
WantedBy=multi-user.target
