{
  "signing": {
    "default": {
      "expiry": "{{ cert_info_expiry }}",
      "issuer_urls": [
        "{{ cert_issue_url }}/{{ item.item.bare }}.{{ cert_file_ext }}"
      ]
    },
    "profiles": {
      "{{ cert_info_profile }}": {
        "usages": [
          "signing",
          "digital signature",
          "key encipherment",
          "data encipherment",
          "server auth",
          "client auth"
        ],
        "expiry": "{{ cert_info_expiry }}",
        "issuer_urls": [
          "{{ cert_issue_url }}/{{ item.item.bare }}.{{ cert_file_ext }}"
        ]
      },
      "intermediate-ca": {
        "usages": [
          "signing",
          "cert sign",
          "crl sign",
          "digital signature",
          "key encipherment",
          "data encipherment",
          "server auth",
          "client auth"
        ],
        "ca_constraint": {
          "is_ca": true
        },
        "expiry": "{{ cert_info_expiry }}",
        "issuer_urls": [
          "{{ cert_issue_url }}/{{ item.item.bare }}.{{ cert_file_ext }}"
        ]
      },
      "intermediate-ca-EndPath": {
        "usages": [
          "signing",
          "cert sign",
          "crl sign",
          "digital signature",
          "key encipherment",
          "data encipherment",
          "server auth",
          "client auth"
        ],
        "ca_constraint": {
          "is_ca": true,
          "max_path_len": 0,
          "max_path_len_zero": true
        },
        "expiry": "{{ cert_info_expiry }}",
        "issuer_urls": [
          "{{ cert_issue_url }}/{{ item.item.bare }}.{{ cert_file_ext }}"
        ]
      }
    }
  }
}
